@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: #FFFFFF;
    color: #1D1F22;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.wrapper{
    width: 1440px;
    margin: 50px auto;
}

header{
    position: relative;
}

header .logo{
    width: 41px;
    height: 41px;
    background-image: url("./img/a-logo.jpg");
}


header ul.nav{


}

header ul.nav li{
    font-weight: 400;
    display: inline;
    margin-right: 25px;
    cursor: pointer;
    transition: color 500ms ease;
}

header ul.nav li:hover{
    color: #5ECE7B;
}

header .shop-cart-button{
    float: right;
    cursor: pointer;
    transition: color, transform 500ms ease;
    font-size: 25px;
}

header .shop-cart-button:hover,
header .shop-cart-button.active{
    color:#5ECE7B;
    transform: scale(1.5);
}

header .shop-cart {
    position:absolute;
    top: 30px;
    right: 0;
    width: 450px;
    background: #fafafa;
    -webkit-box-shadow: 4px 5px 15px -7px #606060;
    box-shadow: 4px 5px 15px -7px #606060;
    z-index: 1000;

    padding: 20px;
    padding-bottom: 0;
}

header .shop-cart .empty h2{
    font-size: 20px;
    margin-bottom: 20px;
}

header .shop-cart .item{
    width: 100%;
    float: right;
    margin-bottom: 20px;
}

header .shop-cart .item img{
    width: 70px;
    float: left;
    margin-right: 20px;
}

header .shop-cart .item p {
    font-size: 20px;
    margin-bottom: 10px;
}
header .shop-cart .item b{
    font-weight: 600;
}

header .dollar{
    float: right;
    cursor: pointer;
    transition: color 500ms ease;
    font-size: 25px;
}

header .dollar:hover,
header .dollar.active{
    color:#5ECE7B;
}

header .shop-cart .item .delete-icon{
    float: right;
    position: relative;
    top: -25px;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

header .shop-cart .item .delete-icon:hover{
    color:#5ECE7B;
    transform: scale(1.5);
}

header .shop-cart .sum{
    float:left;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

header .presentation{
    margin: 50px 0;
    width: 100%;
    height: 200px;
    position: relative;
}

header .presentation::after{
    content: 'Category name';
    position: absolute;
    top:100px;
    left:0px;
    width: 300px;
    font-size: 40px;
    font-weight: 400;
}

.full-item {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    overflow: auto;
}

.full-item > div {
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 40px 30px;
    background: #fff;
    border-radius: 9px;
}

main{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .item{
    width: 30%;
    margin-bottom: 50px;
    background-color: #f5f5f5;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
}

main .item img, .full-item img{
    width:100%;
    border-radius: 10px 10px 0 0;
    transition: transform 500ms;
    cursor: pointer;
}

main .item img:hover, .full-item img:hover{
    transform: scale(1.03);
}

main h2, .full-item h2,
main p, .full-item p,
main b, .full-item b {
    margin: 10px 20px;
    color: #333;
}

main .add-to-cart,
.full-item .add-to-cart{
    position:absolute;
    right: 20px;
    bottom:20px;
    background: #5ECE7B;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color:#fff;
    border-radius: 50%;
    cursor:pointer;
    font-weight: 600;
    transition: transform 500ms;
}

main .add-to-cart:hover,
.full-item .add-to-cart:hover{
    transform: scale(1.7) translateY(-7px);
}

footer{
    text-align: center;
    margin-top: 100px;
}